---
import { testimonials } from "../../data/landing-content";
import { TestimonialCarousel } from "../ui/TestimonialCarousel";

import "../../styles/sections/testimonials.css";
---

<section class="testimonials section">
  <div class="shell testimonials__shell">
    <TestimonialCarousel client:visible items={testimonials} />
  </div>
</section>
